<div class="about-container">
    <section class="profile-section">
      <div class="profile-picture">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-0qi5BHam2lgOm9dwn3YRLeAh-xIFOMkj2Q&s" alt="Tony Smith">
      </div>
      <!-- <div class="social-icons">
        <a href="https://facebook.com" aria-label="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com" aria-label="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com" aria-label="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://linkedin.com" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div> -->
    </section>
  
    <section class="details-section">
      <h1>About Me</h1>
      <h2>I am a Full Stack MEAN STACK DEVELOPER located in Nairobi</h2>
      <h1>I'm Christian Abiodun Ademola</h1>
      <h2>Am a Passionate <span class="highlight">Web Development, Software Development, System Design and Developmment, Database Management and maintanance</span> designer based in <span class="highlight">Nairobi</span></h2>
      <p>
        I am Christian Abiodun Ademola. I am a passionate MEAN Stack software Developer  seeking an opportunity to work with  you at your company. I am a passionate software developer and can perform web development and problem solving. I am a highly motivated and results driven software developer with a passion for crafting efficient and scalable web solutions.  I have developed a strong expertise in front-end and back-end technologies.i can thrive in dynamic environment collaborating with cross-functional teams to deliver innovative software  solutions to enhance business growth and user experience.Outside my work I actively participate in tech conferences and coding practices to improve my skills and get to learn new trends in the industry Below i have attached my Curriculum Vitae Cover letter and how i can be contacted. I am ready at any moment. 
I will be dedicated to serve and achieve the great objectives of the company to the maximum.
        </p>
      <div class="details-grid">
        <div class="detail-item">
          <span class="detail-title">E-mail</span>
          <span class="detail-info">christianabiodun2020gmail.com</span>
        </div>
 
        <div class="detail-item">
          <span class="detail-title">Phone</span>
          <span class="detail-info">+254701043776</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Residence</span>
          <span class="detail-info">Nairobi</span>
        </div>

        <div class="detail-item">
          <span class="detail-title">Address</span>
          <span class="detail-info">Nairobi, KENYA</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Freelance</span>
          <span class="detail-info">Available</span>
        </div>
      </div>
      <button class="download-cv-btn">Download CV</button>
    </section>

  </div>
  <div class="skills-container">
    <h2>Skills</h2>
    <div class="skills-grid">
      <div class="skill-item">
        <i class="fab fa-html5"></i>
        <span>HTML</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-css3-alt"></i>
        <span>CSS</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-js-square"></i>
        <span>JavaScript</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-node"></i>
        <span>Node.js</span>
      </div>
      <div class="skill-item">
        <i class="fas fa-docker"></i>
        <span>Docker</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-react"></i>
        <span>Redux</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-angular"></i>
        <span>AngularJS</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-js-square"></i>
        <span>TypeScript</span>
      </div>
      <div class="skill-item">
        <i class="fas fa-database"></i>
        <span>MSSQL</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-git"></i>
        <span>GIT</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-aws"></i>
        <span>AWS</span>
      </div>
      <div class="skill-item">
        <i class="fas fa-cogs"></i>
        <span>ExpressJS</span>
      </div>

      <div class="skill-item">
        <i class="fab fa-npm"></i>
        <span>npm</span>
      </div>
    </div>
  </div>
  