<div class="container">
  <header>
    <div class="profile">
      <img src="https://media.licdn.com/dms/image/D4D03AQHqcRxDw7HNaA/profile-displayphoto-shrink_200_200/0/1684218163332?e=2147483647&v=beta&t=64E23Jxmp1WUtbgPrFrxlUZJn2ofnjmOIGdGc5f-heE"  alt="">
      <h1 >ADEMOLA</h1>
    </div>
    <nav>
      <ul class="nav-list">
        <li><a routerLink="Home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </header>
  
  
</div>


<router-outlet></router-outlet>