.services-container {
    text-align: center;
    padding: 50px 20px;
    background-color: lightgrey;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .subtitle {
    font-size: 1.2em;
    margin-bottom: 2em;
    color: #888;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .service-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#e67e22 ;
  }
  
  .highlighted {
    background: blue;
    color: #fff;
  }
  
  .service-box .icon {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #e67e22;
  }
  
  .highlighted .icon {
    color: #fff;
  }
  
  .service-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .service-description {
    font-size: 1em;
    color: #666;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .service-box {
      padding: 15px;
    }
  
    .service-title {
      font-size: 1.2em;
    }
  
    .service-description {
      font-size: 0.9em;
    }
  }
  