<div class="services-container">
    <h2 class="title">MY SERVICES</h2>
    <p class="subtitle">A FULL STACK MEAN STACK DEVELOPER SITUATED IN NAIROBI</p>
    <div class="services-grid">
      <div class="service-box">
        <div class="icon">
          <i class="fas fa-desktop"></i>
        </div>
        <h3 class="service-title">Web Design And Development</h3>
        <p class="service-description">
          I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, Database Management and Maintainance and System Developmment.
        </p>
      </div>
      <div class="service-box highlighted">
        <div class="icon">
          <i class="fas fa-paint-brush"></i>
        </div>
        <h3 class="service-title">System Design</h3>
        <p class="service-description">
          I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.
        </p>
      </div>
      <div class="service-box">
        <div class="icon">
          <i class="fas fa-comments"></i>
        </div><h3>Database Management And Maintainance</h3>
        <p class="service-description">
          I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.
        </p>
      </div>
      <div class="service-box">
        <div class="icon">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <h3 class="service-title">Web Applications</h3>
        <p class="service-description">
          I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.
        </p>
      </div>
      <div class="service-box">
        <div class="icon">
          <i class="fas fa-bullseye"></i>
        </div>
        <h3 class="service-title">Testing for Perfection</h3>
        <p class="service-description">
          I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.
        </p>
      </div>
      <div class="service-box">
        <div class="icon">
          <i class="fas fa-tools"></i>
        </div>
        <h3 class="service-title">Advanced Options</h3>
        <p class="service-description">
          I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.
        </p>
      </div>
      <div class="service-box">
        <div class="icon">
          <i class="fas fa-tools"></i>
        </div>
        <h3 class="service-title">UX/UI DESIGN</h3>
        <p class="service-description">
          I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.
        </p>
      </div>
    </div>
  </div>
  